
.image{
    
    margin-left: 80px;
    width: 500px;
}
.img {
    padding: 40px;
    display: flex;
}
button
{
    height: 50px;
    align-self: flex-end;
    margin-left: 20px;
}
ul
{
    align-self: center;
    margin-left: 50px;
    list-style: none;
    font-weight: bold;
    font-style: oblique;
}